java/examples/LTERprojectCLIENT/src/conf/xml-resources/web-service-references/LTERproject/wsdl/localhost_8080/LTERprojectWS/LTERproject.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-. --><xs:schema xmlns:tns="http://ws.projectDB.lter.edu/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.projectDB.lter.edu/">

<xs:element name="getProjectById" type="tns:getProjectById"></xs:element>

<xs:element name="getProjectByIdResponse" type="tns:getProjectByIdResponse"></xs:element>

<xs:complexType name="getProjectById">
<xs:sequence>
<xs:element name="projectId" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getProjectByIdResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>