schema/lter-project.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns="eml://ecoinformatics.org/lter-project-2.1.0"
  xmlns:doc="eml://ecoinformatics.org/documentation-2.1.0"
  xmlns:rp="eml://ecoinformatics.org/party-2.1.0"
  xmlns:cov="eml://ecoinformatics.org/lter-coverage-2.1.0"
  xmlns:cit="eml://ecoinformatics.org/literature-2.1.0"
  xmlns:res="eml://ecoinformatics.org/resource-2.1.0"
  xmlns:phys="eml://ecoinformatics.org/physical-2.1.0"
  xmlns:txt="eml://ecoinformatics.org/text-2.1.0"
  targetNamespace="eml://ecoinformatics.org/lter-project-2.1.0">
  <xs:import namespace="eml://ecoinformatics.org/documentation-2.1.0"
    schemaLocation="eml-documentation.xsd"/>
  <xs:import namespace="eml://ecoinformatics.org/resource-2.1.0" schemaLocation="eml-resource.xsd"/>
  <xs:import namespace="eml://ecoinformatics.org/party-2.1.0" schemaLocation="eml-party.xsd"/>
  <xs:import namespace="eml://ecoinformatics.org/lter-coverage-2.1.0"
    schemaLocation="eml-coverage.xsd"/>
  <xs:import namespace="eml://ecoinformatics.org/literature-2.1.0"
    schemaLocation="eml-literature.xsd"/>
  <xs:import namespace="eml://ecoinformatics.org/physical-2.1.0" schemaLocation="eml-physical.xsd"/>
  <xs:import namespace="eml://ecoinformatics.org/text-2.1.0" schemaLocation="eml-text.xsd"/>
  <xs:annotation>
    <xs:documentation> Copyright: 1997-2002 Regents of the University of California, University of
      New Mexico, and Arizona State University Sponsors: National Center for Ecological Analysis and
      Synthesis and Partnership for Interdisciplinary Studies of Coastal Oceans, University of
      California Santa Barbara Long-Term Ecological Research Network Office, University of New
      Mexico Center for Environmental Studies, Arizona State University Other funding: National
      Science Foundation (see README for details) The David and Lucile Packard Foundation For
      Details: http://knb.ecoinformatics.org/ </xs:documentation>
    <xs:appinfo>
      <doc:moduleDocs>
        <doc:moduleName>lter-project</doc:moduleName>
        <doc:moduleDescription>
          <section xmlns="">
            <title>The lter-project module - Research context for resources</title>
            <para>This module is based on the eml-project module. It was developed in response to a 
              need to describe a context for research projects and their management. The definition of a 
              "project" is not constrained. It may
              include scientific research investigations or student-led thesis projects, working
              groups of limited scope, or cyberinfrastructure coding projects. It is intended to
              house information on how a project was created, including descriptions of 
              motivations and goals, funding, personnel, and description of the study area or study design. 
              This module also has descriptors for associated resources and projects, and for material 
              intended for (or derived from) reports, and related to project management issues such as
              approval or permission.</para>
            <para>Unlike the eml-project module included with EML 2, documents written against this 
              schema are standalone documents; the lter:researchProject element is a top level element. 
              This              module includes the
              "resource group" which includes basic elements for title, abstract, responsible
              parties, coverage, keywords, etc, as do other top-level EML resources.</para>
            <para>Since it is derived from the EML-2.1.0 family of schemas, most namespaces were left
            unchanged. If an imported schema was edited to provide functionality for the lter-project 
            schema, its namespace was updated to include the term 'lter-' to distinguish it 
            from the namespaces used by EML.</para>
          </section>
        </doc:moduleDescription>
        <doc:recommendedUsage>Use lter-project to describe a research project or to provide a 
          containing context for resources.</doc:recommendedUsage>
        <doc:standAlone>yes</doc:standAlone>
      </doc:moduleDocs>
      <doc:module>lter-project.xsd</doc:module>
      <doc:module>eml-access.xsd</doc:module>
      <doc:module>eml-coverage.xsd</doc:module>
      <doc:module>eml-literature.xsd</doc:module>
      <doc:module>eml-party.xsd</doc:module>
      <doc:module>eml-physical.xsd</doc:module>
      <doc:module>eml-resource.xsd</doc:module>
      <doc:module>eml-text.xsd</doc:module>
      <doc:module>eml-unitTypeDefinitions.xsd</doc:module>
    </xs:appinfo>
  </xs:annotation>
  <xs:element name="researchProject" type="ResearchProjectType">
    <xs:annotation>
      <xs:appinfo>
        <doc:tooltip>research project</doc:tooltip>
        <doc:summary>The root element of this module.</doc:summary>
        <doc:description>researchProject is the root element of a project document. 
          The form of a project's description is defined by the ResearchProjectType; 
          see that Type's definition for more
          information.</doc:description>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ResearchProjectType">
    <xs:annotation>
      <xs:appinfo>
        <doc:tooltip>Research project Type</doc:tooltip>
        <doc:summary>Description of a research context</doc:summary>
        <doc:description>The researchProject complex type describes the XML structure to document
          the research context. It can include research goals, motivations, theory, hypotheses,
          etc., as well as a description of research efforts that form the basis for other
          work.</doc:description>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
 
      <xs:group ref="res:ResourceGroup"/>
      <xs:element name="funding" type="txt:TextType" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Funding</doc:tooltip>
            <doc:summary>Funding information.</doc:summary>
            <doc:description>The funding field is used to provide information about funding sources
              for the project such as: grant and contract numbers; names and addresses of funding
              sources. Other funding-related information may also be included.</doc:description>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="studyAreaDescription" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Description of the study area.</doc:tooltip>
            <doc:summary>Description of the physical area associated with the research project,
              which might include climate, geology, distrubances, etc, or a coverage node.</doc:summary>
            <doc:description>The studyAreaDescription field describes the physical area associated
              with the research project. It can include descriptions of the geographic, temporal,
              and taxonomic coverage of the research location. It may also include a description
              of domains (or themes) of interest such as climate, geology, soils or distrubances, 
              and it may reference a               citable
              biological or geophysical classification systems such as the Bailey Ecoregions or the
              Holdridge Life Zones.</doc:description>
          </xs:appinfo>
        </xs:annotation>
        <xs:complexType>
          <xs:choice maxOccurs="unbounded">
            <xs:element name="descriptor">
              <xs:annotation>
                <xs:appinfo>
                  <doc:tooltip>Non-coverage characteristics of the study area</doc:tooltip>
                  <doc:summary>Description of non-coverage characteristics of the study area such as
                    climate, geology, disturbances</doc:summary>
                  <doc:description>The descriptor field is used to document the domain (or theme) of
                    interest such as climate, geology, soils or disturbances. It may reference a
                    citable biological or geophysical classification systems such as the Bailey
                    Ecoregions or the Holdridge Life Zones. The descriptor element's attributes
                  specify the descriptor's name, and whether or not it is citable.</doc:description>
                </xs:appinfo>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence maxOccurs="unbounded">
                  <xs:element name="descriptorValue" maxOccurs="unbounded">
                    <xs:annotation>
                      <xs:appinfo>
                        <doc:tooltip>Description of some aspect of the study area.</doc:tooltip>
                        <doc:summary>Description of some aspect of the study area.</doc:summary>
                        <doc:description>The descriptorValue field contains the value of a
                          descriptor, describing some aspect of the study area. The descriptorValue
                          may be either a
                          general description in textual form, or may be the value part of 
                          a "name/value"
                          pair where the name is entered in the attribute "name_or_id"
                          on the parent element (&lt;descriptor&gt;). For example,
                          if the value of the "name" attribute of the element "descriptor" is
                          "climate", and the value of the attribute "name_or_id" of the element
                          "descriptorValue" is "Annual Precipitation" then the value of this element
                          could be "12.5 inches".</doc:description>
                        <doc:example>
                          &lt;descriptor name_or_id=&quot;Annual Precipitation&quot; citableClassificationSystem=&quot;false&quot;&gt;
                          12.5 inches
                          &lt;/descriptor;&gt;
                        </doc:example>
                        <doc:example> </doc:example>
                        <doc:example>
                          &lt;descriptor name_or_id=&quot;Bailey Ecoregion&quot; citableClassificationSystem=&quot;true&quot;&gt;
                          124 arctic tundra
                          &lt;/descriptor;&gt;
                        </doc:example>
                      </xs:appinfo>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:simpleContent>
                        <xs:extension base="xs:string">
                          <xs:attribute name="name_or_id" type="xs:string" use="optional">
                            <xs:annotation>
                              <xs:appinfo>
                                <doc:tooltip>The name or ID of a descriptor value.</doc:tooltip>
                                <doc:summary>The name part of a name/value pair of a descriptor; or
                                  ID portion of a classification, if applicable.</doc:summary>
                                <doc:description>The name_or_id field is the name part of a
                                  name/value pair of a descriptor; or ID portion of a
                                  classification, if applicable. The values of biogeophysical
                                  classification systems, e.g. Bailey-Ecoregions, often take the
                                  form of an ID or Code along with a text representaiton. For
                                  example, the ID/Code M131 refers to the phrase "Open Woodland
                                  -Tundra". M131 is an unambiguous reference to a more detailed
                                  description. If one is using a published classification system
                                  then a corresponding citation to the source is recommended, e.g.,
                                  Bailey,R.G., 1996 "Ecosystem Geography".</doc:description>
                                <doc:example>M131</doc:example>
                                <doc:example>Average Annual Rainfall</doc:example>
                              </xs:appinfo>
                            </xs:annotation>
                          </xs:attribute>
                        </xs:extension>
                      </xs:simpleContent>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="citation" type="cit:CitationType" minOccurs="0"
                    maxOccurs="unbounded">
                    <xs:annotation>
                      <xs:appinfo>
                        <doc:tooltip>citation</doc:tooltip>
                        <doc:summary>A citation for this descriptor.</doc:summary>
                        <doc:description>A citation for this desciptor.</doc:description>
                      </xs:appinfo>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
                <xs:attribute name="name" type="DescriptorType" use="required">
                  <xs:annotation>
                    <xs:appinfo>
                      <doc:tooltip>name</doc:tooltip>
                      <doc:summary>The name of the descriptor system.</doc:summary>
                      <doc:description>The name of the descriptor system. The name can be either a
                        theme such as climate or hydrology, or the name of a citable classification
                        system.</doc:description>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:attribute>
                <xs:attribute name="citableClassificationSystem" type="xs:boolean" use="required">
                  <xs:annotation>
                    <xs:appinfo>
                      <doc:tooltip>citation classification system</doc:tooltip>
                      <doc:summary>This boolean attribute defines whether this descriptor comes from
                        a citable classification system or not.</doc:summary>
                      <doc:description>This boolean attribute defines whether this descriptor comes
                      from a citable classification system or not.</doc:description>
                      <doc:example>true</doc:example>
                      <doc:example>false</doc:example>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:attribute>
              </xs:complexType>
            </xs:element>
            <xs:element name="citation" type="cit:CitationType" minOccurs="0">
              <xs:annotation>
                <xs:appinfo>
                  <doc:tooltip>citation</doc:tooltip>
                  <doc:summary>The citation for this descriptor.</doc:summary>
                  <doc:description>The citation for this descriptor.</doc:description>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="coverage" type="cov:Coverage" minOccurs="0">
              <xs:annotation>
                <xs:appinfo>
                  <doc:tooltip>coverage</doc:tooltip>
                  <doc:summary>The coverage of this descriptor.</doc:summary>
                  <doc:description>The coverage of this descriptor. See the type description
                  for the more documentation.</doc:description>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="associatedMaterial" type="associatedMaterialType"
              maxOccurs="unbounded" minOccurs="0">
              <xs:annotation>
                <xs:appinfo>
                  <doc:tooltip> Associated Material</doc:tooltip>
                  <doc:summary>Associated material, file or document belonging to the
                    project</doc:summary>
                  <doc:description>associatedMaterial should be used to record other files, 
                    documents or resources that may belong with this project. These include 
                    but are not limted to: proposals, protocols, datasets, imagery, 
                    citations, or other databases. The element also has optional attributes 
                    to describe features of the material, such as the type, date (e.g., of 
                    publication), system and level of importance. See the Type attributes 
                    for more information.</doc:description>
                </xs:appinfo>
              </xs:annotation>

            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="designDescription" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Description of research design</doc:tooltip>
            <doc:summary>Description of the design of the research project</doc:summary>
            <doc:description>The field designDescription contains general textual descriptions of
              research design. It can include detailed accounts of goals, motivations, theory,
              hypotheses, strategy, statistical design, and actual work. Literature citations may
              also be used to describe the research design.</doc:description>
          </xs:appinfo>
        </xs:annotation>
        <xs:complexType>
          <xs:choice maxOccurs="unbounded">
            <xs:element name="description" type="txt:TextType">
              <xs:annotation>
                <xs:appinfo>
                  <doc:tooltip>Description of research design</doc:tooltip>
                  <doc:summary>Textual description of research design.</doc:summary>
                  <doc:description>The field designDescription contains general textual descriptions
                    of research design. It can include detailed accounts of goals, motivations,
                    theory, hypotheses, strategy, statistical design, and actual
                    work.</doc:description>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="citation" type="cit:CitationType" minOccurs="0">
              <xs:annotation>
                <xs:appinfo>
                  <doc:tooltip>Citation for research design</doc:tooltip>
                  <doc:summary>Citation that describes the research design.</doc:summary>
                  <doc:description>The citation field is a citation to literature that describes
                    elements of the research design, such as goals, motivations, theory, hypotheses,
                    strategy, statistical design, and actual work.</doc:description>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="reporting" type="ReportingType" minOccurs="0" maxOccurs="unbounded">
        
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>reporting</doc:tooltip>
            <doc:summary>reporting.</doc:summary>
            <doc:description>put the reporting stuff here. see the type for more info</doc:description>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      
      <xs:element name="associatedMaterial" type="associatedMaterialType" maxOccurs="unbounded"
        minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip> Associated Material</doc:tooltip>
            <doc:summary>Associated material, file or document belonging to the
              project</doc:summary>
            <doc:description>associatedMaterial should be used to record other files, 
                  documents or resources that may belong with this project. These include 
                  but are not limted to: proposals, protocols, datasets, imagery, 
                  citations, or other databases. The element also has optional attributes 
                  to describe features of the material, such as the type, date (e.g., of 
                  publication), system and level of importance. See the Type attributes 
                  for more information.</doc:description>
          </xs:appinfo>
        </xs:annotation>

      </xs:element>
      <xs:element name="associatedProject" type="associatedProjectType" minOccurs="0"
        maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>associated project</doc:tooltip>
            <doc:summary>This field is for a reference to another project</doc:summary>
            <doc:description>This field contains a reference to another project. Use the
              relationship attribute to specify the relationship that the referenced project has to
              the current project. </doc:description>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="permissions" type="PermissionType" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="id" type="res:IDType" use="required"/>
    <xs:attribute name="system" type="res:SystemType" use="optional"/>
    <xs:attribute name="scope" type="res:ScopeType" use="optional" default="document"/>
  </xs:complexType>
  
  <xs:simpleType name="DescriptorType">
    <xs:annotation>
      <xs:appinfo>
        <doc:tooltip>Descriptor Theme Type</doc:tooltip>
        <doc:summary>The type of descriptor theme or the name of a classification
          system.</doc:summary>
        <doc:description>The descriptorType is used to represent either the name of a citable
          classification system/controlled vocabulary such as the Bailey classification of
          ecoregions or a domain of physical descriptors such as climate or
          disturbances.</doc:description>
        <doc:example>climate</doc:example>
        <doc:example>soils</doc:example>
        <doc:example>hydrology</doc:example>
        <doc:example>"bailey"</doc:example>
        <doc:example>biome</doc:example>
        <doc:example>disturbance</doc:example>
        <doc:example>geology</doc:example>
      </xs:appinfo>
    </xs:annotation>
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="climate"/>
          <xs:enumeration value="hydrology"/>
          <xs:enumeration value="soils"/>
          <xs:enumeration value="geology"/>
          <xs:enumeration value="disturbance"/>
          <xs:enumeration value="bailey"/>
          <xs:enumeration value="biome"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="res:NonEmptyStringType"/>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>


  <xs:simpleType name="associatedMaterialCategoryType">
    <xs:annotation>
      <xs:appinfo>
        <doc:tooltip>Associated Material Category Type</doc:tooltip>
        <doc:summary>The type of material associated with this project</doc:summary>
        <doc:description>The type of material associated with this project. Several
        pre-defined categories have been included, and authors should use these when
        applicable to facilate search by applications expecting them. Authors may
        choose other content if the pre-defined strings are not appropriate.
        </doc:description>
        <doc:example>dataset</doc:example>
        <doc:example>image</doc:example>
        <doc:example>publication</doc:example>
      </xs:appinfo>
    </xs:annotation>
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="dataset"/>
          <xs:enumeration value="image"/>
          <xs:enumeration value="publication"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="res:NonEmptyStringType"/>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>




  <xs:complexType name="ReportingType">
    <xs:annotation>
      <xs:appinfo>
        <doc:tooltip>Reporting Type</doc:tooltip>
        <doc:summary>Reporting Type.</doc:summary>
        <doc:description>The reportingType is used for containing report material for the
          project.</doc:description>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="reportSection" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Report Section</doc:tooltip>
            <doc:summary>Report Section</doc:summary>
            <doc:description>The report Section is used to contain elements that may be used to
              create a report. It may be repeated as necessary.</doc:description>
          </xs:appinfo>
        </xs:annotation>

        <xs:complexType>
          <xs:sequence>
            <xs:element name="sectionTitle" type="res:NonEmptyStringType">
              <xs:annotation>
                <xs:appinfo>
                  <doc:tooltip>Report Section Title</doc:tooltip>
                  <doc:summary>Report Section title</doc:summary>
                  <doc:description>The report Section Title is used to name a topic required by a
                    report in this project.</doc:description>
                  <doc:example>Activities</doc:example>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="sectionValue" type="txt:TextType">
              <xs:annotation>
                <xs:appinfo>
                  <doc:tooltip>Report Section Value</doc:tooltip>
                  <doc:summary>Report Section Value.</doc:summary>
                  <doc:description>The report section Value contains text for the report
                    section</doc:description>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="associatedMaterial"
        type="associatedMaterialType">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip> Associated Material</doc:tooltip>
            <doc:summary>Associated material, file or document belonging to the
              project</doc:summary>
            <doc:description>
              <doc:section>
                <para>associatedMaterial should be used to record other files, 
              documents or resources that may belong with this project. These include 
              but are not limted to: proposals, protocols, datasets, imagery, 
              citations, or other databases. The element also has optional attributes 
              to describe features of the material, such as the type, date (e.g., of 
              publication), system and level of importance. See the Type attributes 
              for more information.
                </para>
              </doc:section>
              </doc:description>
          </xs:appinfo>
        </xs:annotation>
        
        
        
        
      </xs:element>

    </xs:sequence>
    <xs:attribute name="recipient" type="res:NonEmptyStringType" use="optional">
      <xs:annotation>
        <xs:appinfo>
          <doc:tooltip>Report recipient</doc:tooltip>
          <doc:summary>Report recipient.</doc:summary>
          <doc:description>The recipient who will receive this report.</doc:description>
          <doc:example>NSF</doc:example>
        </xs:appinfo>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="date" type="res:yearDate" use="optional">
      <xs:annotation>
        <xs:appinfo>
          <doc:tooltip>Report date</doc:tooltip>
          <doc:summary>Report date.</doc:summary>
          <doc:description>The date of the report.</doc:description>
          <doc:example>2008</doc:example>
        </xs:appinfo>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="associatedProjectType">
    <xs:annotation>
      <xs:appinfo>
        <doc:tooltip>Assiated project Type</doc:tooltip>
        <doc:summary>Associated project Type</doc:summary>
        <doc:description>
          <doc:section>
            <para>A project that is associated with this project. This type was developed as
          an alternative to the nested "relatedProject"s in EML. The relationship attribute reflects
          the relationship of the associated project to the project being described.
            </para>
          </doc:section>
          </doc:description>
        <doc:example>Santa Barbara Coastal LTER Project</doc:example>
      </xs:appinfo>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="res:NonEmptyStringType">
        <xs:attribute name="id" type="res:IDType" use="optional">
          <xs:annotation>
            <xs:appinfo>
              <doc:tooltip> Associated Project ID</doc:tooltip>
              <doc:summary>The ID of another project, associated with this
                project</doc:summary>
              <doc:description>
                <doc:section>
                  <para>The Id of the material in some system. See the Type for more information. </para>
                </doc:section>
              </doc:description>
              <doc:example>knb-lter-sbc.1.1</doc:example>
            </xs:appinfo>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="system" type="res:SystemType" use="optional">
          <xs:annotation>
            <xs:appinfo>
              <doc:tooltip> Associated Project System</doc:tooltip>
              <doc:summary> Associated Project System</doc:summary>
              <doc:description>
                <doc:section>
                  <para>The system of the project identified by the id attribute. See the Type for more information. </para>
                </doc:section>
              </doc:description>
              <doc:example>lter</doc:example>
            </xs:appinfo>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="scope" type="res:ScopeType" use="optional">
          <xs:annotation>
            <xs:appinfo>
              <doc:tooltip> Associated Project Scope</doc:tooltip>
              <doc:summary>Associated Project Scope</doc:summary>
              <doc:description>
                <doc:section>
                  <para>The scope in which the id is to be used. See the Type for more information. </para>
                </doc:section>
              </doc:description>
              <doc:example>system</doc:example>
            </xs:appinfo>
          </xs:annotation>
        </xs:attribute>

        <xs:attribute name="relationship" fixed="parent">
          <xs:annotation>
            <xs:appinfo>
              <doc:tooltip>relationship</doc:tooltip>
              <doc:summary>relationship</doc:summary>
              <doc:description>The relationship of the associatedProject to the project being
                described. To simplify connections between projects, the
                content of this attribute is fixed to "parent".</doc:description>
              <doc:example>parent</doc:example>
            </xs:appinfo>
          </xs:annotation>
          <!--  
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="ancestor"/>
              <xs:enumeration value="descendant"/>
            </xs:restriction>
            </xs:simpleType>
          -->
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>


  <xs:complexType name="associatedMaterialType">
    <xs:annotation>
      <xs:appinfo>
        <doc:tooltip> Associated Material</doc:tooltip>
        <doc:summary>Associated material, file or document belonging to the project</doc:summary>
        <doc:description>
          <doc:section>
            <para>This field is intended to be used as necessary to record other files, documents 
              or resources that may belong with this project. These include but are not limted ]
              to: proposals, protocols, datasets, imagery, citations, or other databases. 
              It contains an instance of EML's physicalDistributionType. This type includes 
              an access tree for controlling access to resources. Assume that access is open 
              unless otherwise stated. The element has optional attributes 
              to describe features of the material, such as the type, date (e.g., of 
              publication), system and level of importance. See the individual attributes for
            more information on their use.</para>
          </doc:section>
        </doc:description>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="distribution" type="phys:PhysicalDistributionType"/>
    </xs:sequence>
    <xs:attribute name="id" type="res:IDType" use="optional">
      <xs:annotation>
        <xs:appinfo>
                <doc:tooltip> Associated Material ID</doc:tooltip>
                <doc:summary>The ID of the Associated material, associated with this
                  project</doc:summary>
                <doc:description>
                  <doc:section>
                    <para>The Id of the material in some system. See the Type for more 
                      information. </para>
                  </doc:section>
                </doc:description>
                <doc:example>knb-lter-sbc.1.1</doc:example>
              </xs:appinfo>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="system" type="res:SystemType" use="optional">
      <xs:annotation>
        <xs:appinfo>
          <doc:tooltip> Associated Material System</doc:tooltip>
          <doc:summary> Associated Material System</doc:summary>
          <doc:description>
            <doc:section>
              <para>The system of the material identified by the id attribute. See the Type for more information. </para>
            </doc:section>
          </doc:description>
          <doc:example>knb-lter-sbc.1.1</doc:example>
        </xs:appinfo>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="scope" type="res:ScopeType" use="optional">
      <xs:annotation>
        <xs:appinfo>
          <doc:tooltip> Associated Material Scope</doc:tooltip>
          <doc:summary>Associated Material Scope</doc:summary>
          <doc:description>
            <doc:section>
              <para>The scope in which the id is to be used. See the Type for more information. </para>
            </doc:section>
          </doc:description>
          <doc:example>knb-lter-sbc.1.1</doc:example>
        </xs:appinfo>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="category" type="associatedMaterialCategoryType">
      <xs:annotation>
        <xs:appinfo>
          <doc:tooltip> Associated Material category</doc:tooltip>
          <doc:summary>The category of the material to be associated with this node.</doc:summary>
          <doc:description>
            <doc:section>
              <para>The category or kind of the material. The Type is a represented
                by a union of an enumerated list of commonly used names of resources.
                Other strings are also allowed.</para>
            </doc:section>
          </doc:description>
          <doc:example>dataset</doc:example>
          <doc:example>image</doc:example>
          <doc:example>publication</doc:example>
          </xs:appinfo>
      </xs:annotation>
    </xs:attribute>



    <xs:attribute name="date" type="res:yearDate" use="optional">
      <xs:annotation>
        <xs:appinfo>
                <doc:tooltip>date</doc:tooltip>
                <doc:summary>The date of the Associated material</doc:summary>
                <doc:description>
                  <doc:section>
                    <para>The date of the material. Nothing is implied 
                      about how the date should be used.</para>
                  </doc:section>
                </doc:description>
                <doc:example>2008</doc:example>
              </xs:appinfo>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="weight" type="xs:integer" use="optional">
      <xs:annotation>
        <xs:appinfo>
                <doc:tooltip>weight</doc:tooltip>
                <doc:summary>weight</doc:summary>
                <doc:description>
                  <doc:section>
                    <para>A project may have many associated resources, and these may have various
                      levels of importance. This attribute allows managers to specify a weight for
                      the associated material Applications should allow low-value weights to "float"
                      up to indicate higher importance. </para>
                  </doc:section>
                </doc:description>
                <doc:example>0</doc:example>
                <doc:example>1</doc:example>
              </xs:appinfo>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>


  <xs:complexType name="PermissionType">
    <xs:annotation>
      <xs:appinfo>
        <doc:tooltip>Approval Type</doc:tooltip>
        <doc:summary>Approval Type</doc:summary>
        <doc:description>The approvalType is used for containing report material for the
          project.</doc:description>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="description" type="res:NonEmptyStringType"/>
      <xs:element name="temporalCoverage" type="cov:TemporalCoverage" minOccurs="0"/>
      <xs:element name="permissionCategory" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Report Section</doc:tooltip>
            <doc:summary>Report Section</doc:summary>
            <doc:description>The report Section is used to contain elements that may be used to
              create a report. It may be repeated as necessary.</doc:description>
          </xs:appinfo>
        </xs:annotation>

        <xs:complexType>
          <xs:sequence>
            <xs:element name="categoryTitle" type="res:NonEmptyStringType">
              <xs:annotation>
                <xs:appinfo>
                  <doc:tooltip>Report Section Title</doc:tooltip>
                  <doc:summary>Report Section title</doc:summary>
                  <doc:description>The report Section Title is used to name a topic required by a
                    report in this project.</doc:description>
                  <doc:example>Activities</doc:example>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="categoryValue" type="txt:TextType">
              <xs:annotation>
                <xs:appinfo>
                  <doc:tooltip>Report Section Value</doc:tooltip>
                  <doc:summary>Report Section Value.</doc:summary>
                  <doc:description>The report section Value contains text for the report
                    section</doc:description>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="associatedMaterial"
        type="associatedMaterialType">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>associatedMaterial</doc:tooltip>
            <doc:summary>Associated Material</doc:summary>
            <doc:description>See the type for the full description</doc:description>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="grantor" type="res:NonEmptyStringType" use="optional">
      <xs:annotation>
        <xs:appinfo>
          <doc:tooltip>Report recipient</doc:tooltip>
          <doc:summary>Report recipient.</doc:summary>
          <doc:description>The recipient who will receive this report.</doc:description>
          <doc:example>NSF</doc:example>
        </xs:appinfo>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="date" type="res:yearDate" use="optional">
      <xs:annotation>
        <xs:appinfo>
          <doc:tooltip>Report date</doc:tooltip>
          <doc:summary>Report date.</doc:summary>
          <doc:description>The date of the report.</doc:description>
          <doc:example>2008</doc:example>
        </xs:appinfo>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>



</xs:schema>
